.controls {
  border: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.controls > button {
  height: 4rem;
  width: 4rem;
  padding: 0;
  cursor: pointer;
}

.container {
  width: 100vw;
  overflow: hidden;
}

.slide {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.slide li img {
  border-radius: var(--radius-md);
  height: 11.25rem;
  aspect-ratio: 16 9;
}

@media (min-width: 768px) {
  .controls {
    margin-top: 3.5rem;
  }

  .slide {
    gap: 1.875rem;
  }

  .slide li img {
    height: 22.5rem;
  }
}
