* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --radius-sm: 0.5rem;
  --radius-md: 0.625rem;
  --radius-lg: 999999px;
  --color-galactic-blue: #755cde;
  --color-summer-yellow: #f6a560;
  --color-pink: #f39e9e;
  --color-light-red: #eb7565;
  --color-cyan: #61c4b7;
  --color-dark-purple: #552049;
  --color-black: #030303;
  --color-gray: #7a746e;
  --color-white: #fff7f0;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: var(--color-black);
  background-color: var(--color-white);
}

/* .heading-lg {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 70px;
} */

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: auto;
}

h2 {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: auto;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: auto;
}

/* .heading-md {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 51px;
} */

.heading-md {
  font-size: 1.625rem;
  font-weight: bold;
  line-height: auto;
}

/* .heading-sm {
  font-size: 2rem;
  font-weight: bold;
  line-height: 40px;
} */

/* general styles */

body p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 26px;
  color: var(--color-gray);
}

button {
  border-radius: var(--radius-lg);
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1.75rem;
  font-size: 0.875rem;
  line-height: 28px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header & footer sections */

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3rem;
}

/* hero section */

.hero {
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* grid tiles */

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  color: var(--color-white);
}

.grid-item {
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.grid-item img {
  width: 128px;
  align-self: flex-end;
}

.grid-container > :first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-galactic-blue);
  gap: 5.875rem;
}

.grid-container > :nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--color-summer-yellow);
}

.grid-container > :nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--color-pink);
}

.grid-container > :nth-child(n + 2):nth-child(-n + 3) img {
  width: 64px;
}

.grid-container > :nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-light-red);
}

.grid-container > :nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-cyan);
}

.grid-container > :nth-child(6) {
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: var(--color-dark-purple);
}

/* bio section */

.bio {
  gap: 2.5rem;
  align-items: center;
  text-align: center;
}

.bio > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.profile-image {
  height: 300px;
  width: 300px;
}

.bio button {
  background-color: var(--color-light-red);
}

/* work section */

.work {
  gap: 2rem;
}

/* call-to-action section */

.cta {
  padding: 3rem 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: var(--radius-md);
  background-color: var(--color-black);
  gap: 1.5rem;
  color: var(--color-white);
  text-align: center;
}

.cta p {
  color: var(--color-white);
}

.cta button {
  background-color: var(--color-light-red);
}

@media (min-width: 768px) {
  main {
    gap: 7.5rem;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  body p {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 28px;
    color: var(--color-gray);
  }

  button {
    font-size: 1rem;
    padding: 1rem 3.5rem;
  }

  .logo {
    height: 4rem;
  }

  .container {
    margin: 2rem 2.5rem;
  }

  .hero {
    margin: 4rem 2rem;
    gap: 1.75rem;
  }

  .hero > p {
    padding: 0 2rem;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-container > :nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .grid-container > :nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  .grid-container > :nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .grid-container > :nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .bio > div {
    text-align: left;
    align-items: flex-start;
  }

  .profile-image {
    height: 364px;
    width: 364px;
    transform: translateX(-20%);
  }

  .work {
    gap: 3.5rem;
  }

  .cta {
    padding: 3.5rem 4.6875rem 4rem;
    gap: 1.625rem;
    margin-bottom: 3.5rem;
  }
}
